<section class="bg-gray-50 p-4 flex flex-wrap items-center justify-between gap-4 rounded-xl shadow-md">
  <h4
    class="text-base sm:text-lg font-semibold text-black cursor-pointer hover:underline"
    [routerLink]="['/catalogo', id]"
  >
    {{ nombre }}
  </h4>

  <b class="text-green-700 text-sm sm:text-base">
    {{ precio | currency:'ARS':'symbol' }}
  </b>

  <button
    class="text-red-500 font-semibold uppercase text-sm sm:text-base hover:underline transition cursor-pointer"
    (click)="updateTotal()"
  >
    Eliminar
  </button>
</section>
